*{
margin: 0px;
padding: 0px;


}
body
{
    /* background-image: url("web sitesi/maus.png"); */
    font-family: Arial, sans-serif;
    color: #CCC;
background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: black;
    height: 100vh;
    margin: 20px;
}

a{
    color:red;
}

li {
    margin-top: 10px;
}